body{
	background: url("img/fundo.png") center center no-repeat fixed;
	-webkit-background-size:cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

#jogo {
	margin:auto;
	width: 618px;
	height: 618px;
}

.casa {
	/*background-image: url('img/0.jpg');*/
	color: #fdc2c1;
	background-color: #de8690;
	border: 3px solid;
	width: 150px;
	height: 150px;
	float: left;
}

h3{
	color: #cc3e40;
	text-align:center;
	margin-right: 150px;
}
